.homeh2 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.homep1 {
    padding: 45px;
    font-size: 22px;
    text-align: justify;
}

.pengertianh2 {
    margin-left: 50px;
    font-weight: lighter;
}

.download {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
}

.pengertianp1 {
    text-align: justify;
    padding: 50px;
}

.pengertianp12 {
    text-align: justify;
    padding: 50px;
}

.pengertianp13 {
    text-align: justify;
    padding: 50px;
}

.pengertianp14 {
    text-align: justify;
    padding: 50px;
}

.download2 {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 460px;
}

.h2sejarah {
    margin-left: 50px;
    font-weight: lighter;
}

.bangs {
    margin-left: 50px;
    margin-bottom: 20px;
    width: 450px;
}

.sejaya {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
}

.p1seja {
    text-align: justify;
    padding: 50px;
}

.p2seja {
    text-align: justify;
    padding: 50px;
}

.p3seja {
    text-align: justify;
    padding: 50px;
}

.p4seja {
    text-align: justify;
    padding: 50px;
}

.servish2 {
    margin-left: 50px;
    font-weight: lighter;
}

.servisfoto {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 460px;   
}

.servisp1 {
    text-align: justify;
    padding: 50px;
}

.servisjud {
    padding: 50px;
    font-weight: bold;
}

.servisp123 {
    text-align: justify;
    padding: 50px;
}

.servispnya2 {
    text-align: justify;
    padding: 50px;
}

.servispnya3 {
    text-align: justify;
    padding: 50px;
}

.servispnya4 {
    text-align: justify;
    padding: 50px;
}

.smashh2 {
    margin-left: 50px;
    font-weight: lighter;
}

.smashfoto {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 460px;   
}

.smashp123 {
    text-align: justify;
    padding: 50px;
}

.smashpnya2 {
    text-align: justify;
    padding: 50px;
}

.smashpnya3 {
    text-align: justify;
    padding: 50px;
}

.smashjud {
    padding: 50px;
    font-weight: bold;
}

.nettingh2 {
    margin-left: 50px;
    font-weight: lighter;
}

.nettingfoto {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 460px;   
}

.nettingp123 {
    text-align: justify;
}

.nettingpnya2 {
    text-align: justify;
}

.nettingp1 {
    text-align: justify;
    padding: 50px;
}

.nettingpnya3 {
    text-align: justify;
}

.nettingpnya4 {
    text-align: justify;
}

.nettingjud {
    font-weight: bold;
}

.homep11 {
    margin: 0 50px 0 50px;
}